{% extends 'base.html.twig' %}

{% block title %}Inicio | Fullstack Developer{% endblock %}

{% block body %}
    <header class="navbar">
        <nav class="container">
            <div class="logo-with-image">
                <img src="{{ asset('images/avatar.jpg') }}" alt="Mi Avatar" class="avatar">
                <span class="logo">Yamil Nicolas Ruffa</span>
            </div>
            <div class="menu-toggle" onclick="toggleMenu()">☰</div>
            <ul id="nav-links">
                <li><a href="#sobre-mi-es" class="lang-es">Sobre mí</a><a href="#about-me-en" class="lang-en" style="display: none;">About me</a></li>
                <li><a href="#proyectos-es" class="lang-es">Trabajos</a><a href="#projects-en" class="lang-en" style="display: none;">Projects</a></li>
                <li><a href="#contacto-es" class="lang-es">Contacto</a><a href="#contact-en" class="lang-en" style="display: none;">Contact</a></li>
                <li><button id="lang-toggle" class="language-button">English</button></li>
            </ul>
        </nav>
    </header>

    <section class="hero lang-es">
        <div class="container hero-content">
            <h1>Hola, soy <span class="highlight">Analista y Desarrollador</span></h1>
            <p>Tecnologías que utilizo: <strong> JAVA | PYTHON | PHP | SPRING BOOT | SYMFONY | SQL | FLASK | ANDROID STUDIO |</strong></p>
            <a href="#proyectos-es" class="btn-primary">Ver Trabajos</a>
        </div>
    </section>
    <section class="hero lang-en" style="display: none;">
        <div class="container hero-content">
            <h1>Hello, I'm a <span class="highlight">Analist and Developer</span></h1>
            <p>Technologies I use: <strong> JAVA | PYTHON | PHP | SPRING BOOT | SYMFONY | SQL | FLASK | ANDROID STUDIO |</strong></p>
            <a href="#projects-en" class="btn-primary">View Projects</a>
        </div>
    </section>

    <section id="sobre-mi-es" class="section container lang-es">
        <h2>Sobre mí</h2>
        <p>Soy desarrollador con una sólida formación en programación y experiencia en diversas tecnologías.
            Mi objetivo es especializarme en el desarrollo de videojuegos, un área que me apasiona.
            He trabajado con herramientas como Symfony y Spring Boot para crear aplicaciones web siguiendo el modelo MVC,
            y también manejo lenguajes como Java, PHP, Python y Android Studio. Tengo experiencia con bases de datos
            relacionales (SQL) y suelo trabajar con metodologías ágiles como SCRUM para mantener los
            proyectos organizados y eficientes. Además, tuve la oportunidad de ser ayudante de cátedra
            en Introducción a la Programación, donde participé en la enseñanza de conceptos básicos,
            la creación de gráficos, la documentación técnica y la elaboración de manuales de usuario y buenas prácticas.</p>
    </section>
    <section id="about-me-en" class="section container lang-en" style="display: none;">
        <h2>About me</h2>
        <p>I am a developer with a background in programming and experience in various technologies,
            aiming to specialize in video game development.
            I have worked with tools such as <strong>Symfony</strong> and <strong>Spring Boot</strong> for web application development
            based on the MVC model, as well as with <strong>Java</strong>, <strong>PHP</strong>, <strong>Python</strong>, and <strong>Android Studio</strong>.
            I manage relational databases <strong>(SQL)</strong> and agile work methodologies <strong>(SCRUM)</strong>.
            Additionally, I have experience as a teaching assistant in Introduction to Programming,
            where I participated in teaching fundamental concepts, creating graphics,
            technical documentation, and developing user manuals and best practices.</p>
    </section>

        <section id="contacto-es" class="section container lang-es">
        <h2>Contacto</h2>
        <div class="contact-info">
            <div class="image-container">
                <a href="https://ar.linkedin.com/in/yamil-nicolas-ruffa-a9b49717b" target="_blank" title="Ver mi perfil de LinkedIn">
                    <img src="{{ asset('images/icons8-linkedin-100.png') }}" alt="LinkedIn" class="contact-image">
                </a>

                <a href="#" id="gmail-icon-es" title="Envíame un correo">
                    <img src="{{ asset('images/gmail.png') }}" alt="Gmail" class="contact-image">
                </a>

                <a href="https://github.com/Yamilruffa" target="_blank" title="Ver mi repositorio de GitHub">
                    <img src="{{ asset('images/icons8-github-200.png') }}" alt="GitHub" class="contact-image">
                </a>
            </div>

            <form id="email-form-es" class="email-form" method="POST" action="{{ path('contact_send') }}" style="display: none;">
                <label for="nombre-es">Nombre:</label><br>
                <input type="text" id="nombre-es" name="nombre" required><br><br>

                <label for="correo-es">Correo:</label><br>
                <input type="email" id="correo-es" name="correo" required><br><br>

                <label for="mensaje-es">Mensaje:</label><br>
                <textarea id="mensaje-es" name="mensaje" rows="4" required></textarea><br><br>

                <button type="submit">Enviar</button>
                <button type="button" id="cancel-btn-es">Cancelar</button>
            </form>

        </div>
    </section>

    <section id="contact-en" class="section container lang-en" style="display: none;">
        <h2>Contact</h2>
        <div class="contact-info">
            <div class="image-container">
                <a href="https://ar.linkedin.com/in/yamil-nicolas-ruffa-a9b49717b" target="_blank" title="Visit my LinkedIn">
                    <img src="{{ asset('images/icons8-linkedin-100.png') }}" alt="LinkedIn" class="contact-image">
                </a>

                <a href="#" id="gmail-icon-en" title="Send me an email">
                    <img src="{{ asset('images/gmail.png') }}" alt="Gmail" class="contact-image">
                </a>

                <a href="https://github.com/Yamilruffa" target="_blank" title="View my GitHub repository">
                    <img src="{{ asset('images/icons8-github-200.png') }}" alt="GitHub" class="contact-image">
                </a>
            </div>

            <form id="email-form-en" class="email-form" method="POST" action="{{ path('contact_send') }}" style="display: none;">
                <label for="nombre-en">Nombre:</label><br>
                <input type="text" id="nombre-en" name="nombre" required><br><br>

                <label for="correo-en">Correo:</label><br>
                <input type="email" id="correo-en" name="correo" required><br><br>

                <label for="mensaje-en">Mensaje:</label><br>
                <textarea id="mensaje-en" name="mensaje" rows="4" required></textarea><br><br>

                <button type="submit">Enviar</button>
                <button type="button" id="cancel-btn-en">Cancelar</button>
            </form>

        </div>
    </section>

    <section id="proyectos-es" class="section container lang-es">
        <h2>Trabajos</h2>
        <div class="project-list">
            <div class="project-item">
                <a href="https://github.com/Yamilruffa/RecetarioCocinaSym" target="_blank" class="project-link">
                    <div class="project-info">
                        <h3>Sistema de Gestión de Recetas</h3>
                        <p>Este fue mi primer proyecto desarrollado de forma individual. Durante el año 2024 me encargué del relevamiento de requerimientos y la elaboración completa de la documentación. Posteriormente, entre enero y marzo de 2025, llevé a cabo el desarrollo del sistema.</p>
                        <p>Las tecnologías utilizadas fueron <strong>Symfony 5.4</strong>, <strong>MySQL</strong> y un frontend construido con <strong>HTML</strong>, <strong>CSS</strong> y <strong>JavaScript</strong>, integrados mediante plantillas <strong>Twig</strong> propias de Symfony.</p>
                        <p>El sistema incluye las siguientes funcionalidades:</p>
                        <ul>
                        <li>Registro y login de usuarios</li>
                        <li>Vistas diferenciadas para usuarios y administradores</li>
                        <li>Creación, edición y publicación de recetas</li>
                        <li>Sistema de favoritos y puntuación</li>
                        </ul>
                    </div>
                </a>
                <i class="fab fa-github"></i>
                <p class="project-docs">
                    <a href="{{ asset('archivos/Documentacion - Sistema Recetario.pdf') }}" target="_blank">
                        Documentación del proyecto
                    </a><br>
                    <a href="#" class="open-images" data-folder="/images/cookbook">Imágenes</a>
                </p>
            </div>

            <div class="project-item">
                <a href="https://github.com/usuario/proyecto2" target="_blank" class="project-link">
                    <div class="project-info">
                        <h3>Sistema Único de Gestión Institucional Superior Técnica – Proyecto en Equipo</h3>
                        <p>Este sistema fue desarrollado en colaboración con compañeros del instituto y profesores, a lo largo de un período de tres años.</p>
                        <h3>2023</h3>
                        <p>Realizamos el relevamiento de requerimientos mediante entrevistas con varios oferentes (otros institutos) para identificar las necesidades que el sistema debía cubrir. También desarrollamos la documentación técnica: diagramas UML, diseño de base de datos, diccionario de datos, casos de uso, entre otros.</p>
                        <h3>2024</h3>
                        <p>Basándonos en dicha documentación, comenzamos el desarrollo de los módulos principales. El sistema se divide en dos partes integradas:</p>
                        <ul>
                            <li><strong>Módulo Región:</strong> permite visualizar la oferta educativa de cada instituto de la provincia y habilita la preinscripción de aspirantes.</li>
                            <li><strong>Módulo Local:</strong> se implementa en cada instituto y gestiona la información enviada desde Región, asignando los preinscriptos a las carreras correspondientes.</li>
                        </ul>
                        <h3>2025</h3>
                        <p>Nos enfocamos en la corrección de errores, validaciones y mejoras generales del código. También desarrollamos módulos secundarios, como el sistema de toma de asistencia.</p>
                        <p>Todo el proceso fue llevado a cabo aplicando metodologías ágiles (<strong>Scrum</strong>), en colaboración constante entre alumnos y docentes.</p>
                        <p><em>Si bien el repositorio de este proyecto no es público, ante cualquier duda pueden comunicarse con el instituto en el siguiente enlace:
                        </p>
                    </div>
                </a>
                <i class="fab fa-github"></i>
                <p class="project-docs">
                    <a href="{{ asset('archivos/documentacion_proyecto2.pdf') }}" target="_blank">
                        Documentación del proyecto
                    </a>
                </p>
                <a href="http://www.i12.com.ar/i12/" target="_blank">http://www.i12.com.ar/i12/</a>
            </div>

            <div class="project-item">
                <a href="https://github.com/usuario/proyecto3" target="_blank" class="project-link">
                    <div class="project-info">
                        <h3>Sistema de Gestion de stock para pintureria</h3>
                        <p>En este proyecto participe realizando el desarrollo de backend utilizando Flask, un
                        framework de python. En colaboracion con los equipos de frontend, diseño y analisis, se creo un 
                        sistema que permite a los usuario generar presupuestos y administrar el stock para su negocio</p>
                    </div>
                </a>
                <i class="fab fa-github"></i>
                <p class="project-docs">
                    <a href="{{ asset('archivos/documentacion_proyecto2.pdf') }}" target="_blank">
                        Documentación del proyecto
                    </a>
                </p>
            </div>

            <div class="project-item">
                <a href="https://github.com/usuario/proyecto3" target="_blank" class="project-link">
                    <div class="project-info">
                        <h3>Sistema de Gestion Comercial para comiqueria</h3>
                        <p>En desarrollo.<br>
                        Etapa: Licitacion de requerimentos- diseño de base de datos</p>
                    </div>
                </a>
                <i class="fab fa-github"></i>
                <p class="project-docs">
                    <a href="{{ asset('archivos/documentacion_proyecto2.pdf') }}" target="_blank">
                        Documentación del proyecto
                    </a>
                </p>
            </div>
        </div>
    </section>

    <section id="projects-en" class="section container lang-en" style="display: none;">
        <h2>Projects</h2>
        <div class="project-list">
            <div class="project-item">
                <a href="https://github.com/Yamilruffa/RecetarioCocinaSym" target="_blank" class="project-link">
                    <div class="project-info">
                        <h3>Recipe Management System</h3>
                        <p>This was my first project developed independently. Throughout 2024, I was responsible for gathering requirements and producing all the documentation. Then, from January to March 2025, I carried out the system’s full development.</p>
                        <p>The technologies used were <strong>Symfony 5.4</strong>, <strong>MySQL</strong>, and a frontend built with <strong>HTML</strong>, <strong>CSS</strong>, and <strong>JavaScript</strong>, integrated using <strong>Twig</strong> templates (Symfony's templating engine).</p>
                        <p>The system includes the following features:</p>
                        <ul>
                            <li>User registration and login</li>
                            <li>Separate views for users and administrators</li>
                            <li>Recipe creation, editing, and publishing</li>
                            <li>Favorites and rating system</li>
                        </ul>
                    </div>
                </a>
                <i class="fab fa-github"></i>
                <p class="project-docs">
                    <a href="{{ asset('archivos/Documentacion - Sistema Recetario.pdf') }}" target="_blank">
                        Project Documentation
                    </a>
                </p>
            </div>

            <div class="project-item">
                <a href="https://github.com/usuario/proyecto2" target="_blank" class="project-link">
                    <div class="project-info">
                        <h3>Unified Management System for Technical Higher Education Institutions – Team Project</h3>
                        <p>This system was developed in collaboration with fellow students and professors over a period of three years.</p>
                        <h3>2023</h3>
                        <p>We conducted requirements gathering through interviews with multiple stakeholders (other institutes) to identify the system's needs. We also created comprehensive technical documentation, including UML diagrams, database design, data dictionary, use cases, and more.</p>
                        <h3>2024</h3>
                        <p>Based on this documentation, we developed the system’s main modules. The system is composed of two integrated parts:</p>
                        <ul>
                            <li><strong>Regional Module:</strong> displays the educational offerings of each provincial institute and allows applicants to pre-register.</li>
                            <li><strong>Local Module:</strong> used within each institute to process the data received from the regional system and assign applicants to their chosen programs.</li>
                        </ul>
                        <h3>2025</h3>
                        <p>We focused on bug fixing, validations, and overall code improvement. We also developed secondary modules, such as the attendance tracking system.</p>
                        <p>The entire process was carried out using agile methodologies (<strong>Scrum</strong>), with constant collaboration between students and instructors.</p>
                        <p><em>Although the repository for this project is not public, you can contact the institute for more information at the following link:
                        </p>
                    </div>
                </a>
                <i class="fab fa-github"></i>
                <p class="project-docs">
                    <a href="{{ asset('aca va la docu del proyecto 2') }}" target="_blank">
                        Project Documentation
                    </a>
                </p>
                <a href="http://www.i12.com.ar/i12/" target="_blank">http://www.i12.com.ar/i12/</a>
            </div>

            <div class="project-item">
                <a href="https://github.com/usuario/proyecto3" target="_blank" class="project-link">
                    <div class="project-info">
                        <h3>Comic Book Sales Management System</h3>
                        <p>Under development.<br>
                        Stage: Requirements bidding - database design</p>
                    </div>
                </a>
                <i class="fab fa-github"></i>
                <p class="project-docs">
                    <a href="{{ asset('archivos/documentacion_proyecto2.pdf') }}" target="_blank">
                        Documentación del proyecto
                    </a>
                </p>
            </div>

            <div class="project-item">
                <a href="https://github.com/usuario/proyecto3" target="_blank" class="project-link">
                    <div class="project-info">
                        <h3>Stock Management System for a Paint Store</h3>
                        <p>In this project, I participated in backend development using Flask, a Python framework. 
                        In collaboration with the frontend, design, and analytics teams, a system was created that allows 
                        users to generate quotes and manage inventory for their business.</p>

                    </div>
                </a>
                <i class="fab fa-github"></i>
                <p class="project-docs">
                    <a href="{{ asset('archivos/documentacion_proyecto2.pdf') }}" target="_blank">
                        Documentación del proyecto
                    </a>
                </p>
            </div>
        </div>
    </section>

    <footer class="footer">
        <p>&copy; 2025 - Yamil Nicolas Ruffa.<br> Todos los derechos reservados.</p>
    </footer>
    

    <div id="image-modal" class="modal" style="display:none;">
        <div class="modal-content">
            <span id="modal-close" style="cursor:pointer; float:right; font-size: 1.5rem;">&times;</span>
            <div id="modal-images" style="display:flex; flex-wrap: wrap; gap: 1rem; justify-content: center;"></div>
        </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/main.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const langToggle = document.getElementById('lang-toggle');
            const langEsElements = document.querySelectorAll('.lang-es');
            const langEnElements = document.querySelectorAll('.lang-en');
            const navLinksEs = document.querySelectorAll('#nav-links .lang-es');
            const navLinksEn = document.querySelectorAll('#nav-links .lang-en');

            langToggle.addEventListener('click', function() {
                const isEnglish = langToggle.textContent === 'English';

                langEsElements.forEach(el => el.style.display = isEnglish ? 'none' : 'block');
                langEnElements.forEach(el => el.style.display = isEnglish ? 'block' : 'none');

                navLinksEs.forEach(el => el.style.display = isEnglish ? 'none' : 'inline-block');
                navLinksEn.forEach(el => el.style.display = isEnglish ? 'inline-block' : 'none');

                langToggle.textContent = isEnglish ? 'Español' : 'English';

                // Update the title based on the language
                document.title = isEnglish ? 'Home | Fullstack Developer' : 'Inicio | Fullstack Developer';
            });
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        // Función para togglear formulario según IDs pasados
        function toggleForm(iconId, formId, cancelBtnId) {
            const icon = document.getElementById(iconId);
            const form = document.getElementById(formId);
            const cancelBtn = document.getElementById(cancelBtnId);

            if (!icon || !form || !cancelBtn) return;

            icon.addEventListener('click', function(e) {
                e.preventDefault();
                if (form.style.display === 'none' || form.style.display === '') {
                    form.style.display = 'flex';  // flex para respetar gap y estilos CSS
                } else {
                    form.style.display = 'none';
                }
            });

            cancelBtn.addEventListener('click', function() {
                form.style.display = 'none';
            });

            form.addEventListener('submit', function(event) {
                event.preventDefault();

                // Obtener valores según formulario
                const nombre = form.querySelector('input[type="text"]').value.trim();
                const correo = form.querySelector('input[type="email"]').value.trim();
                const mensaje = form.querySelector('textarea').value.trim();

                if (!nombre || !correo || !mensaje) {
                    alert('Por favor completa todos los campos.');
                    return;
                }

                const subject = encodeURIComponent('Mensaje desde tu web de ' + nombre);
                const body = encodeURIComponent(`Nombre: ${nombre}\nCorreo: ${correo}\n\nMensaje:\n${mensaje}`);

                window.location.href = `mailto:tuemail@gmail.com?subject=${subject}&body=${body}`;

                form.style.display = 'none';
                form.reset();
            });
        }

        // Llamar a la función para ambos idiomas
        toggleForm('gmail-icon-es', 'email-form-es', 'cancel-btn-es');
        toggleForm('gmail-icon-en', 'email-form-en', 'cancel-btn-en');
    });

    </script>
{% endblock %}